#johtokunta { }
#johtokunta ul { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; list-style-type:disc}
#johtokunta ul li { }
#johtokunta ul li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; border-left: 1px solid #999; }
#johtokunta ul li p em { display:block; }