<link href="css/jasenedut.css" rel="stylesheet">
<div id="jasenedut">  
	<div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Jäsenmaksu</h2>
          <p>Jäsenmaksu on 12,00 € vuonna 2014.</p>
          <p>Voit maksaa sen tilille:<br> SAMPO FI29 8001 8710 0351 68, <br>BIC: DABAFIHH</p>
          <p>Viitenumeroa ei ole, joten kirjoita viestiosaan nimi- ja osoitetiedot. Maksaa voit paikan päälläkin. </p>
          <p>UUDET JÄSENET ovat erittäin TERVETULLEITA!</p>
        </div><!--/span-->
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Jäsenedut</h2>
          <p>
            <ul>
                <li><i class="fa fa-thumbs-o-up"></i>Edullinen lounas jäsenille</li>
                <li><i class="fa fa-thumbs-o-up"></i>Retkiä jäsenetuhintaan</li>
                <li><i class="fa fa-thumbs-o-up"></i>Osallistuessasi siivoustoimintaan saat pienen korvauksen</li>
                <li><i class="fa fa-thumbs-o-up"></i>Tuuliviiri-lehti (yhdistyksen oma lehti) 4 kertaa vuodessa</li>
                <li><i class="fa fa-thumbs-o-up"></i>MTKL:n julkaisema Revanssi-lehti</li>
                <li><i class="fa fa-thumbs-o-up"></i>Käsi Kädessä -lehti puoleen hintaan</li>
            </ul>
            </p>
            <p>Kaupungin erityisuimakortista korvataan kuittia vastaan 12,00 €. </p>
        </div><!--/span-->
    </div>
</div>