<link href="css/johtokunta.css" rel="stylesheet">
<div id="johtokunta">
    <div class='jumbotron'>
		<i class="fa fa-group fa-5x"/>
		<ul>
			Majakan hallitus 2014
			<li><p><em>Puheenjohtaja</em>Anneli J.</p></li>
			<li>
				<p><em>Varsinaiset jäsenet</em>
					<br>Lasse L.
					<br>Allan
					<br>Riku
					<br>Irmeli
					<br>Teemu
					<br>Mervi
					<br>Sirja
				</p>
			</li>		   
			<li>
				<p><em>Varajäsenet</em> 
					<br>Petri S.
					<br>Birgitta R.
					<br>Milja
				</p>
			</li>
			<li><p><em>Sihteeri</em>Mervi</p></li>   		
	   </ul>   
	</div>
</div>