<link href="css/kerhokalenteri.css" rel="stylesheet">
<div id="kerhokalenteri">
    <i class="fa fa-group fa-5x"/>
    <div class="row">
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 maanantai">
            <ul>
                Maanantai
                <li><p><em>13.00-15.00</em>Leffakerho<br>Vetäjä: Marko</p></li>
                <li><p><em>11.00-12.30</em>Mieli maasta -ryhmä<br>Vetäjä: Mervi</p></li>
            </ul>
        </div>
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 tiistai">
            <ul>
                Tiistai
                <li><p><em>11.00-12.30</em>Body-Brain-Energy<br><i></i></p></li>
                <li><p><em>14.00-15.30</em>Karaoke<br>Vetäjä: Sirja</p></li>
                <li><p><em>15.00-16.00</em>Keilaus<br>Vetäjä: Petri (Helsinginkatu)</p></li>
           </ul>
        </div>
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 keskiviikko">
            <ul>
                Keskiviikko
				<li><p><em>11.00-12.30</em>Moniääniset<br>Vetäjä: Mervi</p></li>
                <li><p><em>13.00-14.00</em>Levyraati<br>Vetäjä: Toni</p></li>
                <li><p><em>14.00-15.00</em>Bingo<br>Vetäjä: Jarmo</p></li>
				<li><p><em>14.30-15.30</em>Miestenryhmä<br><i>palaa tauolta 10.9!</i></p></li>
				<li><p><em>16.30--></em>Jalkapallotreenit<br>Vetäjät: Silja ja Tanja (Pirkkolan kenttä)</p></li>
				
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 torstai">
            <ul>
                Torstai
                <li><p><em>11.00-12.30</em>Käsityökerho<br>Vetäjä: Sanna</p></li>
                <li><p><em>13.00-14.00</em>Jutturyhmä<br>Vetäjä: Irmeli</p></li>
                <li><p><em>15.00-17.00</em>Kuntosali/uinti<br>Vetäjä: Mikko (Pirkkola)</p></li>
				
            </ul>
        </div>
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 perjantai">
            <ul>
                Perjantai
				<li><p><em>13.00-14.00</em>Pj:n tiedotus- ja keskustelutunti<br>Vetäjä: pj.</p></li>
				
            </ul>
        </div>
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 lauantai">
            <ul>
                Lauantai
                <li><p><em>12.00-17.00</em>Päivystys<br>Vetäjä: Vaihtuva päivystävä</p></li>
                <li><p><em>12.00-14.00</em>Maalauskerho<br>Vetäjä: Allan</p></li>
                <li><p><em>13.00-16.00</em>Lauantain retkiryhmä<br>Vetäjä: Niko</p></li>
                <li><p><em>14.00-17.00</em>Pelikerho<br>Vetäjä: Tapsa</p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-6 col-md-3 col-lg-4 sunnuntai">
            <ul>
                Sunnuntai
                <li><p><em>12.00-17.00</em>Päivystys<br>Vetäjä: Vaihtuva päivystäjä</p></li>
                <li><p><em>12.00--></em>Leivontakerho<br><i>Palaa tauolta 21.9!</i></p></li>
                <li><p><em>12.00-17.00</em>Yleistä keskustelua ja yhdessäoloa</p></li>
				<li><p><em>13.00--></em>Jalkapallotreenit<br>Vetäjä: Silja (Pirkkolan kenttä)</p></li>
            </ul>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="js/kerhokalenteri.js"></script>