<link href="css/lahjoitukset.css" rel="stylesheet">
<div id="lahjoitukset">
    <i class="fa fa-gift fa-5x"/>
    <div class="row">
        <div class="col-xs-11 col-sm-9">

            <div class="row">
                <div class="col-6 col-sm-6 col-lg-4 col-xs-11">
                    <h4>Majakka kiittää vuoden 2014 lahjoittajia:</h4>
                    <ul>
                        <li>Avon</li>
                        <li>Berner</li>
                        <li>Eckerö Line Ab Oy</li>
						<li>Fazer</li>
                        <li>FilmTown</li>
                        <li>McDonald´s Oy</li>
						<li>Viking Line</li>
                    </ul>
                </div>
				
				
                <div class="col-6 col-sm-6 col-lg-4 col-xs-11">
                    <h4>Rahalahjoittajat 2013:</h4>
                    <ul>
                        <li>Viola Raninin Säätiö</li>
                        <li>LähiTapiola</li>
                    </ul>
                </div>
                <!--/span-->
                <div class="col-6 col-sm-6 col-lg-4 col-xs-11">
                    <h4>Majakka kiittää vuoden 2013 lahjoittajia:</h4>
                    <ul>
                        <li>Tallink Silja Line</li>
                        <li>Makuuni</li>
                        <li>Oriflame</li>
                        <li>McDonald´s Oy</li>
                        <li>Crocs</li>
                        <li>Hesburger</li>
                        <li>Taffel</li>
                        <li>Viking Line</li>
                        <li>Eckerö Line Ab Oy</li>
                        <li>Fazer</li>
                        <li>Cutrin</li>
                        <li>FilmTown</li>
                        <li>Duni</li>
                        <li>Omron</li>
                        <li>Medishop</li>
                        <li>Expert</li>
                        <li>Ikea</li>
                    </ul>
                </div>
                <!--/span-->
				  

                <!--/span-->
                </div>
            <!--/row-->
			<div class="row" id="logot">
				<img id="cutrin" src="ico/Cutrin_Professional.jpg" alt='Cutrin'  />
				<img id="omron" src="ico/omron_logo.jpg" alt='Omron' />
				<img id="silja" src="ico/silja.jpg" alt='Silja'/>
				<img id="leijona" src="ico/Leijona_logo_vaalsin.jpg" alt='Leijona' />
			</div>
		
        <!--/span-->
    </div>
</div>