<link href="css/lahjoitukset.css" rel="stylesheet">
<div id="lahjoitukset">
   <div class="row">
        <i class="pull-left fa fa-gift fa-5x"/>
        <h2 class="pull-left">Lahjoitukset</h2>
   </div>
   <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="row">

            <div class="col-6 col-sm-6 col-lg-4">
                <h4>Rahalahjoittajat 2013:</h4>
                <ul>
                    <li>Viola Raninin Säätiö</li>
                    <li><a href="http://www.lahitapiola.fi/" target="_blank">LähiTapiola</a></li>
                </ul>
            </div>
            <!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h4>Majakka kiittää vuoden 2013 lahjoittajia:</h4>
                <ul>

                    <li><a href="http://www.crocs.fi/‎" target="_blank">Crocs</a></li>
                    <li><a href="http://www.cutrin.fi/" target="_blank">Cutrin</a></li>
                    <li><a href="http://www.duni.com/fi/" target="_blank">Duni</a></li>
                    <li><a href="https://www.eckeroline.fi/" target="_blank">Eckerö Line Ab Oy</a></li>
                    <li><a href="http://www.expert.fi" target="_blank">Expert</a></li>
                    <li><a href="http://www.fazer.fi/" target="_blank">Fazer</a></li>
                    <li><a href="http://www.filmtown.fi/" target="_blank">FilmTown</a></li>
                    <li><a href="http://www.hesburger.fi/‎" target="_blank">Hesburger</a></li>
                    <li><a href="http://www.ikea.com/fi/fi/" target="_blank">Ikea</a></li>
                    <li><a href="http://www.makuuni.fi/" target="_blank">Makuuni</a></li>
                    <li><a href="http://www.mcdonalds.fi/" target="_blank">McDonald´s Oy</a></li>
                    <li><a href="http://www.medishop.fi/" target="_blank">Medishop</a></li>
                    <li><a href="http://omron.fi/fi/home" target="_blank">Omron</a></li>
                    <li><a href="http://fi.oriflame.com/" target="_blank">Oriflame</a></li>
                    <li><a href="http://www.taffel.fi/" target="_blank">Taffel</a></li>
                    <li><a href="http://www.tallinksilja.com/" target="_blank">Tallink Silja Line</a></li>
                    <li><a href="http://www.vikingline.fi" target="_blank">Viking Line</a></li>
                </ul>
            </div>
            <!--/span-->

            </div>
            <!--/row-->
			<div class="row" id="logot">
				<img id="cutrin" src="ico/Cutrin_Professional.jpg" alt='Cutrin'  />
				<img id="omron" src="ico/omron_logo.jpg" alt='Omron' />
				<img id="silja" src="ico/silja.jpg" alt='Silja'/>
			</div>
        </div>
        <!--/span-->
    </div>
</div>