<ul>
	Suunnitteilla olevia retkiä ja tapahtumia jäsenille:<br><br>
	<li>Nuorten aikuisten lauantairetki joka lauantai. Lisätietoja saa tekstiviestitse antamalla numeronsa Tuulalle. Muita retkiä ja tapahtumia Majakan ilmoitustaululla sekä Facebookissa (sivu Majakka ry). </li>
	<li>Majakassa joogaa tiistaisin!</li>
	<li>Tiistaina 11.00 - 12.30 Body-Brain-Energy</li>				
	<li>Edullinen lounas joka päivä.</li>
	<li>Lounasaika arkisin klo 12.00 - 14.00</li>
	<li>Avoinna la-su kerhojen mukaan. Katso kerhokalenteri!</li>
</ul>