<div id='radio_lehti'>

        <div class="jumbotron">
            <i class="fa fa-pencil-square-o fa-5x"/>
            Tuuliviiri 4/2013 ilmestyi viikolla 50. Lehdessä asiaa muun muassa vertaistuesta ja joogasta.
            Helmikuun lopussa ilmestyvään Tuuliviiriin (1/2014) voi lähettää materiaalia osoitteeseen <a
                href="mailto:tuuliviiri@kolumbus.fi">tuuliviiri@kolumbus.fi</a>.
            <p>
                Muistathan, että helmikuu on kuukausista lyhyin, joten aineistopäivä tulee pian vastaan ;)
            </p>

            <p>Kirjoituksia voi tuoda myös paikan päälle Majakan takahuoneeseen käsinkirjoitettuina tai printattuina.
                Myös juttuvinkit ovat tervetulleita. Kirjoittaja saa päättää, julkaistaanko hänen kirjoituksensa nimellä
                vai nimimerkillä. Lehden toimitus pidättää oikeuden editoida tekstejä tai olla julkaisematta niitä.</p>

            <div class="row" id="lehdet">
                <a href="pdf/Tuuliviiri_2_2013_nettiversio.pdf" target="_blank">
                    <img src="ico/Tuuliviiri_2_2013_kansi_pieni.JPG" alt="Tuuliviiri 2_2013"/>
                </a>
                <a href="pdf/Tuuliviiri_3_2013_nettiversio.pdf" target="_blank">
                    <img src="ico/Tuuliviiri_3_2013_kansi_pieni.JPG" alt="Tuuliviiri 2_2013"/>
                </a>
                <a href="pdf/Tuuliviiri_4_2013_nettiversio.pdf" target="_blank">
                    <img src="ico/Tuuliviiri_4_2013_kansi_pieni.JPG" alt="Tuuliviiri 2_2013"/>
                </a>
            </div>

            <p><i class="fa fa-music fa-5x"/>Majakkaradio - Ihmisen radio.
                Internet-aalloilla osoitteessa <a href="www.kslradio.fi" target="_blank">www.kslradio.fi</a></p>
        </div>
  
</div>