<link href="css/ruokalista.css" rel="stylesheet">
<div id='ruokalista'>

 <div class="jumbotron">
     <i class="fa fa-cutlery fa-5x"/>
    <p>Edullinen lounas jäsenille arkisin <strong>11.00 - 13.00</strong>, viikonloppuisin päivystysaikojen mukaan (kts. kerhokalenteri). </p>
    <p>Ruokalistan muutokset mahdollisia.</p>
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
      <header>
        <h4 id="maanantai">Maanantai</h4>
        <p>8.9.2014</p>
      </header>
      <p>Uunimakkara ja muusi + salaatti</p>
    </div><!--/span-->
    <div class="col-6 col-sm-6 col-lg-4">
      <h4 id="tiistai">Tiistai</h4>
      <p>9.9.2014</p>
      <p>Lasange + salaatti</p>
    </div><!--/span-->
    <div class="col-6 col-sm-6 col-lg-4">
      <h4 id="keskiviikko">Keskiviikko</h4>
      <p>10.9.2014</p>
      <p>Kana ja riisi + salaatti</p>
    </div><!--/span-->
    <div class="col-6 col-sm-6 col-lg-4">
      <h4 id="torstai">Torstai</h4>
      <p>11.9.2014</p>
      <p>Hernekeitto + salaatti</p>
    </div><!--/span-->
    <div class="col-6 col-sm-6 col-lg-4">
      <h4 id="perjantai">Perjantai</h4>
      <p>12.9.2014</p>
      <p>Lohi ja perunat + salaatti(4 €)</p>
    </div><!--/span-->
  </div><!--/row-->

</div>
<script type="text/javascript" src="js/ruokalista.js"></script>