<!--

<b> => bold => lihavointi. Tarvitsee lihavoitavien sanojen loppuun merkin </b>
<p> => paragraph => kappalejako. Tarvitsee kappaleen loppuun merkin </p>
<br/> => break => rivinvaihto
<font color="red"> => fontin väri. Väreinä toimivat päävärit, kuten esimerkiksi: "yellow", "black", "grey", "blue". Tarvitsee värjättävän tekstin loppuun päätteen </font>

-->

<link href="css/tapahtumat.css" rel="stylesheet">

<div id="tapahtumat">
    <div class="jumbotron">
        <i class="fa fa-road fa-5x"/>
		
		
		<p>
			<b>Retkiryhmä:</b><br/>
				<br/><font color="red">Mikäli et saa retkiryhmän viestejä ja kuitenkin haluat niitä, niin ottaisitko yhteyttä Majakkaan.</font>
		</p>



        <p><strong>Pelikerho palasi tauolta lauantaina 2. elokuuta!</strong><br/>
			
			<br/>Kokoonnumme
			tuttuun tapaan joka lauantai kello 14.00 keltaisessa huoneessa. Kerhon vetäjänä toimii Tapsa<br/>
			<br/>Tervetuloa!</p>
		
		<p><strong>NUORTEN AIKUISTEN ILTA</strong> Linnanmäellä torstaina 21. elokuuta. Lähtö Majakasta kello 16.00.<br/><br/><strong>Taiteiden yö Linnanmäellä</strong>. Esiintyjinä estradilla Sammal kello 19.00. Mahdollisuus
		iltarannekkeeseen (29,00 €), josta Majakka maksaa kuittia vastaan 10,00 € takaisin. Vaihtoehtona yksi (1) laitelippu, jonka Majakka maksaa kuittia vastaan.<br/><br/>
		Yleistä yhdessäoloa alueella aukiolon puitteissa!<br/><br/>Mukana retkipuhelin, jonka numero on 041 547 83 63.
		<br/><br/><a href="http://ilmatieteenlaitos.fi/saa/helsinki/alppila" target="blank">Retkisää tästä!</a></p>
		
		
        <p>
			Suunnitteilla olevia retkiä ja tapahtumia jäsenille:
		</p>
		
		<p>
            <br/>Lauantairetki järjestetään viikoittain. Lisätietoja saa tekstiviestitse antamalla numeronsa
            Majakalle. Majakan retkiryhmän puhelin (041 547 8363) on jälleen käytössä. Muita retkiä ja tapahtumia Majakan ilmoitustaululla sekä Facebookissa (sivu Majakka ry).
        </p>
		
		
		
        <p>
            Majakassa Body-Brain-Energy -joogaa tiistaisin kello 11.00 - 12.30! (Palaa kesätauolta ti 19.8.)
        </p>
		
		
        <p>
            Edullinen lounas joka päivä.
            Lounasaika arkisin kello 11.00 - 13.00.
            Viikonloppuisin kerhojen mukaan. Katso <a class="partial" href="views/kerhokalenteri.html">kerhokalenteri!</a>
		</p>

    </div>
</div>

<!--script type="application/javascript" src="../js/home.js" / -->