<link href="css/tiedotukset.css" rel="stylesheet">
<div id="tiedotukset">
    <div class="jumbotron">
        <i class="fa fa-bullhorn fa-5x"/>
        <ul>
            <li>Majakka on auki kesäaikataulun mukaisesti 9-16 ja ruokailu on
                11-13. Lounas vain 3,50 €.</li>
			<li><strong>Keilaus</strong> tiistaisin kello 15-16.00 Paikka: Helsinginkatu. Vetäjä: Petri.
			</li>
			<li><strong>Jalkapallotreenit</strong> sunnuntaisin kello 13! Paikka: Pirkkolan kenttä, valmentaja: Silja. Tervetuloa!
			</li>
			<li>Sunnuntaitreenien ohella <strong>jalkapalloharjoitukset myös keskiviikkoisin</strong> kello 16.30. Paikka: Pirkkolan kenttä, valmentajat: Silja ja Tanja. Tervetuloa!
			</li>
			<li>Body-Brain-Energy palaa jälleen tiistaisin 2.9.2014.
			</li>
			<li>Miesten ryhmä on kesätauolla.
			</li>
			<li>Sirjan vertaistuki ja painonhallintaryhmä sekä Irman leivontakerho ovat tauolla koko kesän.
			</li>
			<li>Anne aloittaa elämäntavan muutokseen ohjaavan ryhmän syksyllä 2014. Lisätietoa myöhemmin.
			</li>
            <li>Tuuliviiri-lehden nettiversiot löydät sivulta Radio/Lehti. Klikkaa kansikuvaa!
            </li>
            <li>Majakka on Facebookissa, jossa voit liittyä kaveriksi. Hakusanat "majakka ry"</li>
            <li>
                Tuoreita tapahtumia ja tietoja löytyy seuraavalta Majakan FB-sivulta: <a
                    href="http://fi-fi.facebook.com/pages/Majakka-ry/196012127098309?sk=wall">Majakan
                Facebook-osoite</a>. Siellä on tiedotuksia, ajankohtaista mielenterveysasiaa yms. Sinne ei voi
                kirjoittaa tai kommentoida jollei ole tykännyt omilla Facebook-tunnuksillaan sitä ensin. Päivitettyä
                tietoa on saatavana tietenkin myös tältä kotisivulta.
            </li>
            <li>LAHJOITUKSIA otetaan vastaan Majakkaan perustetulle kirpputorille, tai voit tulla edullisille
                ostoksille. Tuotot käytetään Majakan hyväksi.
            </li>
            <li>Majakalla on menossa monta varainkeruuprojektia, kuten lipaskeräys, arpajaislahjakeräys ja rahakeräys.
                Tukea voi myös liittymällä Majakan kannattajajäseneksi. Maksu on 120 € vuodessa.
            </li>
            <li>LIPASKERÄÄJÄKSI? Mikäli haluat vapaaehtoiseksi kerääjäksi, palkkioksi saat hyvää mieltä, ruokaa ja
                kahvia. Ilmoittautumiset Lasselle Majakkaan.
            </li>
        </ul>
    </div>
</div>