<link href="css/yhteystiedot.css" rel="stylesheet">

<div id="yhteystiedot">
    <div class="row">
        <div>
            <i class="fa fa-phone fa-5x"/>
            <ol>
                <li><p><em>Toimisto</em> (09) 145 028</p></li>
                <li><p><em>Puheenjohtaja</em> Anneli J. <br> 041 4323 633</p></li>
                <li><p><em>Toiminnanohjaaja</em> Anne Niemi <br> 050 4698 222</p></li>
                <li><p><em>Järjestötyöntekijä</em>Heidi Rautio <br> 044 744 7009</p></li>
                <li><p><em>1. varapuheenjohtaja</em> Lasse Laamanen <br> 044 9239 631</p></li>
                <li><p><em>Liikunta- ja retkiryhmä</em> 041 547 8363</p></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div>
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.fi/maps?f=q&amp;source=s_q&amp;hl=fi&amp;geocode=&amp;q=Teuvo+Pakkalan+tie+1,+Helsinki&amp;aq=0&amp;oq=Teuvo+Pakkalan+tie+1,+&amp;sll=60.288609,24.675858&amp;sspn=1.854156,6.344604&amp;ie=UTF8&amp;hq=&amp;hnear=Teuvo+Pakkalan+tie+1,+Helsinki&amp;t=m&amp;z=14&amp;ll=60.227481,24.903063&amp;output=embed"></iframe>
        <br/>
        <small><a
                href="https://maps.google.fi/maps?f=q&amp;source=embed&amp;hl=fi&amp;geocode=&amp;q=Teuvo+Pakkalan+tie+1,+Helsinki&amp;aq=0&amp;oq=Teuvo+Pakkalan+tie+1,+&amp;sll=60.288609,24.675858&amp;sspn=1.854156,6.344604&amp;ie=UTF8&amp;hq=&amp;hnear=Teuvo+Pakkalan+tie+1,+Helsinki&amp;t=m&amp;z=14&amp;ll=60.227481,24.903063"
                style="color:#0000FF;text-align:left">Näytä suurempi kartta</a></small>

    <a class="reittiopas" target="_blank" href="http://www.reittiopas.fi/?showsearchformsaved=hide&from_in=&from=&via_in=&via=&via_time=0&to_in=Teuvo+Pakkalan+tie+1+A&to=&hour=18&minute=21&timetype=departure&date_cb=on&day=14&month=1&year=2014&cmargin=3&wspeed=70&method=1&stz=0&mc1=0&mc2=0&mc3=0&mc4=0&mc5=0&mc6=0&mc0=1&nroutes=3&gotoHash=#">Reittiopas</a>

        </div>
    </div>
</div>